<div class="container px-0">
  <form [formGroup]="form">
    <div class="form-row mt-4">
      <div class="col-5">
        <div class="form-group interviews-list-filter align-items-center pl-0">
          <span class="fa fa-search interviews-list-filter-span"></span>
          <input type="text" class="form-control interviews-list-filter"
                 placeholder="Filter by title, candidate name, email"
                 formControlName="search">
        </div>
      </div>
      <div class="col-3">
        <div class="dropdown align-items-center mx-2" (clickOutside)="isStatusDropdownOpen = false">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                  id="statusDropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true"
                  (click)="isStatusDropdownOpen = !isStatusDropdownOpen">
            Status
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu status-checkbox-menu"
              [appDropdown]="isStatusDropdownOpen" aria-labelledby="statusDropdown">
            <li>
              <label>
                <input type="checkbox" formControlName="statusScheduled"> SCHEDULED
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" formControlName="statusInProgress"> IN_PROGRESS
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" formControlName="statusCompleted"> COMPLETED
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-outline-secondary pull-right" (click)="onScheduleNew()">Schedule New
        </button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col" style="border-left: none;">
            Title
            <button type="button" class="btn pull-right" (click)="onSort('title')" title="Sort by title">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </button>
          </th>
          <th scope="col">
            Candidate
            <button type="button" class="btn pull-right" (click)="onSort('candidate')" title="Sort by candidate">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </button>
          </th>
          <th scope="col">
            Status
            <button type="button" class="btn pull-right" (click)="onSort('status')" title="Sort by status">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </button>
          </th>
          <th scope="col">
            Scheduled For
            <button type="button" class="btn pull-right" (click)="onSort('scheduledFor')" title="Sort by scheduled for">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let interview of interviewsList.interviews">
          <td style="border-left: none;">{{ interview.title }}</td>
          <td>{{ interview.candidate.firstName }} {{ interview.candidate.lastName }}<br>{{ interview.candidate.email }}
          </td>
          <td>{{ interview.status }}</td>
          <td>{{ interview.scheduledFor | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td><a [routerLink]="interview.id">DETAILS</a></td>
          <td style="border-right: none;">
            <div class="row">
              <div style="position: relative; display: inline-block;"
                   (clickOutside)="copyAlert.hidden = true; btnCopy.classList.remove('btn-copied');">
                <div class="alert alert-success copy p-0 text-center" role="alert" #copyAlert [id]="interview.id" hidden>
                  <b>Copied to clipboard: </b><i>{{ getFullLink(interview) }}</i>
                </div>
                <button type="button" class="btn pull-right mx-1 btn-copy" title="Copy Link" #btnCopy
                        ngxClipboard [cbContent]="getFullLink(interview)"
                        (click)="onCopyLink(interview); copyAlert.hidden = false; btnCopy.classList.add('btn-copied');">
                  <i class="fa fa-clone" aria-hidden="true"></i>
                </button>
              </div>
              <button type="button" class="btn pull-right mx-1 btn-edit" title="Edit" (click)="onEdit(interview.id)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn pull-right mx-1 btn-delete" title="Delete" (click)="onDelete(interview.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="pull-right">
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="interviewsList.numFound"
          [maxSize]="10"
          [rotate]="true"
          (pageChange)="onPageChange($event)">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
