.interviews-list-filter {
  padding-left: 2.375rem;
}

.interviews-list-filter-span {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.status-checkbox-menu li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin:0;
  transition: background-color .4s ease;
}
.status-checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

.status-checkbox-menu li.active label {
  background-color: #cbcbff;
  font-weight:bold;
}

.status-checkbox-menu li label:hover,
.status-checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.status-checkbox-menu li.active label:hover,
.status-checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

.table thead tr th,
.table tbody tr td {
  background-color: white;
}

.table-bordered td, .table-bordered th {
  border: 6px solid #f5f5f5;
}

table {
  border: none;
}

.table thead tr:hover th,
.table tbody tr:hover td {
  background-color: #e0e0e0;
}

.btn-delete:hover {
  color: #ff4444;
}

.btn-edit:hover {
  color: #FF8800;
}

.btn-copy:hover {
  color: #00bcd4;;
}

.table tbody {
  font-size: 0.9rem;
}

.copy {
  width: 700px;
  position: absolute;
  top: -15px;
  left: -450px;
}

.btn-copied {
  color: green !important;
}

.btn-copied:hover {
  color: #8bc34a !important;
}
