<nav class="navbar navbar-expand-sm bg-dark" style="height: 56px;">
  <a class="navbar-brand" style="color: white;" [routerLink]="['/']">Coderview</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ng-template [ngIf]="authService.isLoggedIn()">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/interviews']">Interviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/challenges']">Challenges</a>
        </li>
      </ul>
    </ng-template>
    <ng-template [ngIf]="!authService.isLoggedIn()">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ul>
    </ng-template>

<!--    <ng-template [ngIf]="authService.isLoggedIn()">-->
<!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item">-->
<!--          <button class="btn btn-outline-light" type="button" (click)="onLogout()">Logout</button>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </ng-template>-->


    <ul class="navbar-nav ml-auto d-none d-sm-block" *ngIf="authService.isLoggedIn()">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="profileDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" (click)="toggleProfileDropdown(); false;">
          <i class="fa fa-2x fa-user-circle" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown" [appDropdown]="isProfileDropdownShown">
          <span class="dropdown-item profile-dropdown-menu-item">{{ authService.getLoggedInUser() }}</span>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </div>
      </li>
    </ul>


  </div>
</nav>
