<div class="container mt-5">
  <div class="row">
    <div class="col-9 p-2" style="background-color: white;">
      <ul class="list-group">
        <li class="list-group-item border-0">
          <h3>{{ interview.title }}</h3>
        </li>
        <li class="list-group-item border-0">
          <b>Scheduled for: </b>{{ interview.scheduledFor | date: 'yyyy-MM-dd HH:mm' }}
        </li>
        <li class="list-group-item border-0">
          <b>Status: </b>{{ interview.status }}
        </li>
        <li class="list-group-item border-0" *ngIf="interview.status === 'COMPLETED'">
          <b>Started at: </b>{{ interview.startedAt | date: 'yyyy-MM-dd HH:mm' }}
        </li>
        <li class="list-group-item border-0" *ngIf="interview.status === 'COMPLETED'">
          <b>Duration: </b>{{ duration }}
        </li>
        <li class="list-group-item border-0">
          <b>Candidate: </b>{{ interview.candidate.firstName }} {{ interview.candidate.lastName }}, {{ interview.candidate.email }}
        </li>
        <li class="list-group-item border-0" *ngIf="interview.status !== 'COMPLETED'">
          <div class="d-flex flex-row">
            <div style="padding-top: 5px;"><b>Link: </b></div>
            <div class="input-group ml-2" style="width: 700px;" (clickOutside)="copyAlert.hidden = true;">
              <div class="alert alert-success copy-alert p-0 text-center" role="alert" #copyAlert hidden>
                <b>Copied Link To Clipboard</b>
              </div>
              <input type="text" class="form-control link-copy-input" [value]="getFullLink()" readonly #copyValue>
              <div class="input-group-append">
                <button class="btn btn-success"
                        type="button"
                        title="Copy Link"
                        ngxClipboard [cbContent]="getFullLink()"
                        (click)="copyValue.classList.add('link-copied'); copyAlert.hidden = false;">
                  Copy
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-3 p-2" style="background-color: white;">
      <div class="d-flex flex-row">
        <button type="button" class="btn btn-outline-secondary ml-auto"
                *ngIf="isInterviewScheduled()"
                (click)="onStart()">
          Start
        </button>
        <button type="button" class="btn btn-outline-secondary ml-auto"
                *ngIf="isInterviewInProgress()"
                (click)="onJoin()">
          Join
        </button>
        <button type="button" class="btn btn-outline-secondary ml-2"
                *ngIf="isInterviewScheduled()"
                (click)="onSetupEnvironment()">
          Setup environment
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3 pt-2" style="background-color: white;">
      <label><b>Environment Preview</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-2 mb-5" style="background-color: white; height: 700px;">
      <app-interview-environment [mode]="mode" [interview]="interview"></app-interview-environment>
    </div>
  </div>
</div>
