<div style="height: calc(100% - 56px)">
  <as-split direction="horizontal" (dragStart)="showIframeHider = true" (dragEnd)="showIframeHider = false">
    <as-split-area size="60">
      <as-split direction="vertical" disabled="true" gutterSize="0">
        <ng-template [ngIf]="isInSetupMode()">
          <app-setup-mode-alert
            [interviewId]="interview.id"
            [splitSize]="5">
          </app-setup-mode-alert>
        </ng-template>
        <as-split-area order="1" [size]="isInSetupMode() ? 95 : 100">
          <app-tabs-toolbar [tabs]="interview.environment.tabs"
                            [environmentId]="interview.environment.id"
                            [interviewLink]="interview.link"
                            [mode]="mode">
          </app-tabs-toolbar>
          <div [ngClass]="{'as-split-area-frame-in-setup': isInSetupMode(), 'as-split-area-frame': !isInSetupMode()}"
               *ngIf="activeTab">
            <iframe
              [src]="padSrc | safe"
              frameBorder="0"
              class="h-100 w-100"
              aria-disabled="true"></iframe>
            <div [hidden]="showIframeHider === false" class="hack-iframe-hider"></div>
          </div>
          <ng-template [ngIf]="!activeTab">
            <app-no-active-tab [isInSetupMode]="isInSetupMode()"></app-no-active-tab>
          </ng-template>
          <app-interview-management-toolbar
            [mode]="mode"
            [isInterviewer]="isInterviewer"
            [startedAt]="interview.startedAt"
            [interviewId]="interview.id"
            [interviewLink]="interview.link"
            (openChallenges)="onOpenChallenges(challengesModal)"
            (endInterview)="onEndInterview(endInterviewConfirmationModal)">
          </app-interview-management-toolbar>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area size="40">
      <as-split direction="vertical">
        <ng-template [ngIf]="activeTab && activeTab.description">
          <as-split-area order="1" size="40">
            <div class="challenge-description w-100 h-100 p-2">
              <h3 class="mt-1">{{ activeTab.title }}</h3>
              <br>
              <div [innerHTML]="activeTab.description"></div>
            </div>
          </as-split-area>
        </ng-template>
        <as-split-area order="2" size="30">
          <app-output [isDisabled]="isInPreviewMode()"
                      [mode]="mode"
                      [interviewLink]="interview.link">
          </app-output>
        </as-split-area>
        <ng-template [ngIf]="isInterviewer">
          <as-split-area order="3" size="30">
            <app-notes [isDisabled]="isInPreviewMode()"
                       [environmentId]="interview.environment.id">
            </app-notes>
          </as-split-area>
        </ng-template>
      </as-split>
    </as-split-area>
  </as-split>
  <ng-template #challengesModal let-modal>
    <app-challenges [interview]="interview"
                    (includeChallenge)="onIncludeChallenge($event)">
    </app-challenges>
  </ng-template>
  <ng-template #endInterviewConfirmationModal let-modal>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>Are you sure you want to end this interview?</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-end my-2">
          <button type="submit" class="btn btn-success mr-2 px-3" (click)="onConfirmEndInterview()">Yes</button>
          <button type="button" class="btn btn-secondary px-3" (click)="onCloseEndInterviewModal()">No</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
