html, body {
  height: 100%;
}

button:active, i:active {
  outline: none;
  border: none;
}

button:focus, i:focus {
  outline:0;
}

.hack-iframe-hider {
  background: rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.as-split-area-frame-in-setup {
  position: relative;
  height: calc(100% - 85px);
  overflow: hidden;
}

.as-split-area-frame {
  position: relative;
  height: calc(100% - 72px);
  overflow: hidden;
}

.challenge-description {
  background-color: white !important;
}
