<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h4>Login</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" formControlName="email" id="email" name="email" type="email" aria-describedby="emailHelp">
          <span
            class="form-text text-danger"
            id="emailHelp"
            *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
            <small class="text-danger">Please enter your email.</small>
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" formControlName="password" id="password" name="password" type="password" aria-describedby="passwordHelp">
          <span
            class="form-text text-danger"
            id="passwordHelp"
            *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
            <small class="text-danger">Please enter your password.</small>
          </span>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>
