<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h4>Register</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <form (ngSubmit)="onRegister(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" class="form-control" ngModel>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" name="name" class="form-control" ngModel>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" class="form-control" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Register</button>
      </form>
    </div>
  </div>
</div>
