<div class="notes-div">
  <span class="badge badge-secondary notes-badge">Take your notes here</span>
  <textarea class="form-control m-0 notes"
            [disabled]="isDisabled"
            [(ngModel)]="notes">
  </textarea>
</div>
