.notes-div {
  width: 100%;
  height: 100% !important;
  background-color: #ffff8d;
}

textarea.notes {
  background-color: #ffff8d;
  width: 100%;
  height: 90% !important;
  border: 0 none !important;
  box-shadow: none!important;
  font-family: Consolas !important;
  resize: none;
}

textarea.notes:focus {
  background-color: #ffff8d;
  border: 0 none !important;
  box-shadow: none!important;
}

textarea.notes[disabled] {
  background-color: #ffff8d !important;
}

.notes-badge {
  top: 5px;
  right: 5px;
  float:right;
}
