<div class="setup-mode-alert">
  <as-split-area order="0" [size]="splitSize">
    <div class="d-flex flex-row flex-nowrap">
      <a [routerLink]="['/interviews', interviewId]" class="flex-nowrap mr-5">
        <span title="Go Back">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>  Go Back
        </span>
      </a>
      <p><b> Interview Setup Mode.</b> Prepare your environment before interview starts.</p>
    </div>
  </as-split-area>
</div>
