<div class="d-flex justify-content-end topcorner">
  <button type="button" class="btn btn-outline-warning mx-2"
          *ngIf="(challenge.scope === 'PRIVATE' || authService.isAdmin()) && !interview" (click)="onEdit()">
    Edit
  </button>
  <button type="button" class="btn btn-outline-success mx-2"
          *ngIf="interview" (click)="onInclude()">
    Include
  </button>
  <button type="button" class="btn btn-outline-secondary mx-2" (click)="onClose()">
    Close
  </button>
</div>
<div class="row">
  <div class="col-12">
    <h3>{{ challenge.title }}</h3>
    <h5 class="text-muted">{{ challenge.programmingLanguage.name }}</h5>
  </div>
</div>
<div class="row">
  <div class="col-12 my-2">
    <div [innerHTML]="challenge.description"></div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-2">
    <div style="height: 500px">
      <ngx-monaco-editor
        style="height: 100%"
        [options]="editorOptions"
        [(ngModel)]="challenge.sourceCode">
      </ngx-monaco-editor>
    </div>
  </div>
</div>
