.editor-tab {
  background-color: #e0e0e0;
  border-radius: unset;
  width: 150px;
  min-width: 125px;
  max-width: 175px;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: Consolas;
}

.editor-tab:hover {
  background-color: #eeeeee;
}

.editor-tab-active {
  background-color: #f5f5f5;
  border-bottom-color: #00bcd4;
  border-bottom-width: 3px;
}

.editor-tab-close {
  padding: unset;
  width: 2em;
}

.editor-tab-close:hover {
  color: #00bcd4;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
