<div class="card editor-tab" [ngClass]="{'editor-tab-active': isActive}" [title]="tab.title">
  <div class="d-flex" (click)="onOpenTab()">
    <div class="truncate" style="cursor: default">{{ tab.title }}</div>
    <div class="ml-auto">
      <button class="btn editor-tab-close" type="button" [disabled]="isCloseDisabled" (click)="onCloseTab($event)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
