<div class="d-flex flex-row flex-nowrap management-toolbar">
  <button class="btn btn-outline-secondary align-self-center btn-env-common ml-1"
          *ngIf="isInterviewer"
          [disabled]="isInPreviewMode()"
          (click)="onOpenChallenges()">
    Challenges
  </button>
<!--  <button class="btn btn-outline-secondary align-self-center btn-env-common ml-1"-->
<!--          [disabled]="!isActive()"-->
<!--          (click)="onCall()">-->
<!--    Call-->
<!--  </button>-->
  <span class="align-self-center" style="font-family: Consolas;" *ngFor="let participant of participants">
    <i class="fa fa-circle ml-3" aria-hidden="true" [ngStyle]="{ 'color': participant.circleColor }"></i><b> {{ participant.name }}</b>
  </span>
  <div class="ml-auto mr-2 align-self-center" *ngIf="isActive()">
    <span>{{ duration }}</span>
  </div>
  <button class="btn btn-outline-danger ml-auto align-self-center mr-1 btn-env-common"
          *ngIf="isInterviewer"
          (click)="onEndInterview()"
          [ngClass]="{'ml-auto': isNotActive()}"
          [disabled]="!isActive()">
    End Interview
  </button>
</div>
