<app-header></app-header>
<router-outlet></router-outlet>
<!--<div class="container-fluid app-bg-light-gray">-->
<!--  <app-interview-environment></app-interview-environment>-->
<!--<app-interviews-list></app-interviews-list>-->
<!--</div>-->
