<div class="container">
  <div class="row mt-2">
    <div class="col-12">
      <div class="alert alert-secondary mb-3 text-center w-100" role="alert">
        <h5 *ngIf="editMode">Edit Challenge</h5>
        <h5 *ngIf="!editMode">Create New Challenge</h5>
      </div>
    </div>
  </div>
  <form class="w-100 my-2" (ngSubmit)="onSave()" #challengeForm="ngForm">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="title" class="font-weight-bold required-label">Title</label>
        <input type="text" class="form-control" required id="title" name="title" [(ngModel)]="challenge.title">
      </div>
      <div class="form-group col-2">
        <label for="challengeType" class="font-weight-bold required-label">Type</label>
        <select class="dropdown-select" required name="challengeType" id="challengeType"
                [(ngModel)]="selectedChallengeType"
                (ngModelChange)="onSelectChallengeType($event)">
          <option *ngFor="let challengeType of challengeTypes" [value]="challengeType.name">
            {{ challengeType.name }}
          </option>
        </select>
      </div>
      <div class="form-group col-2">
        <label for="challengeDifficulty" class="font-weight-bold required-label">Difficulty</label>
        <select class="dropdown-select" required name="challengeDifficulty" id="challengeDifficulty"
                [(ngModel)]="selectedChallengeDifficulty"
                (ngModelChange)="onSelectChallengeDifficulty($event)">
          <option *ngFor="let challengeDifficulty of challengeDifficulties" [value]="challengeDifficulty">
            {{ challengeDifficulty }}
          </option>
        </select>
      </div>
      <div class="form-group col-2">
        <label for="programmingLanguage" class="font-weight-bold required-label">Language</label>
        <select class="dropdown-select" required name="programmingLanguage" id="programmingLanguage"
                [(ngModel)]="selectedProgrammingLanguage"
                (ngModelChange)="onSelectProgrammingLanguage($event)">
          <option *ngFor="let programmingLanguage of programmingLanguages" [value]="programmingLanguage.name">
            {{ programmingLanguage.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label class="font-weight-bold">Description</label>
        <ckeditor [editor]="Editor" [(ngModel)]="challenge.description" name="description"></ckeditor>
      </div>
    </div>
    <div class="row" *ngIf="challenge.sourceCode">
      <div class="col-12 mt-2">
        <label class="font-weight-bold">Code for the challenge</label>
        <div style="height: 500px">
          <ngx-monaco-editor name="sourceCode" style="height: 100%" [options]="editorOptions" [(ngModel)]="challenge.sourceCode"></ngx-monaco-editor>
        </div>
      </div>
    </div>
    <div class="row mb-3 justify-content-end">
      <div class="col-4 d-flex justify-content-end my-2">
        <button type="submit" class="btn btn-success mr-2 px-5" [disabled]="challengeForm.invalid">Save</button>
        <button type="button" class="btn btn-secondary px-5" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
