<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': scope === SCOPE_GLOBAL}" (click)="onGlobalScope()">Global</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': scope === SCOPE_PRIVATE}" (click)="onPrivateScope()">Private</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': scope === FAVOURITES}" (click)="onFavourites()">Favourites</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-1">
      <form [formGroup]="form">
        <div class="form-row mt-1">
          <div class="col-5">
            <div class="form-group challenges-list-search align-items-center pl-0">
              <span class="fa fa-search challenges-list-search-span"></span>
              <input type="text" class="form-control challenges-list-search" placeholder="Search for challenges..." formControlName="search">
            </div>
          </div>
          <div class="col-7">
            <div class="d-flex flex-wrap flex-sm-nowrap">
              <div class="dropdown mx-2" (clickOutside)="isChallengeTypesDropdownOpen = false">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                        id="challengeTypesDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true"
                        (click)="isChallengeTypesDropdownOpen = !isChallengeTypesDropdownOpen">
                  Type
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-checkbox-menu" [appDropdown]="isChallengeTypesDropdownOpen"
                    aria-labelledby="challengeTypesDropdown">
                  <li formArrayName="challengeTypesComboBox"
                      *ngFor="let challengeType of form.controls.challengeTypesComboBox.controls; let i = index">
                    <label>
                      <input type="checkbox" [formControlName]="i"> {{ challengeTypes[i].name }}
                    </label>
                  </li>
                </ul>
              </div>
              <div class="dropdown mx-2" (clickOutside)="isChallengeDifficultiesDropdownOpen = false">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                        id="challengeDifficultiesDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true"
                        (click)="isChallengeDifficultiesDropdownOpen = !isChallengeDifficultiesDropdownOpen">
                  Difficulty
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-checkbox-menu" [appDropdown]="isChallengeDifficultiesDropdownOpen"
                    aria-labelledby="challengeDifficultiesDropdown">
                  <li formArrayName="challengeDifficultiesComboBox"
                      *ngFor="let challengeDifficulty of form.controls.challengeDifficultiesComboBox.controls; let i = index">
                    <label>
                      <input type="checkbox" [formControlName]="i"> {{ challengeDifficulties[i] }}
                    </label>
                  </li>
                </ul>
              </div>
              <div class="dropdown mx-2" (clickOutside)="isProgrammingLanguagesDropdownOpen = false">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                        id="programmingLanguagesDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true"
                        (click)="isProgrammingLanguagesDropdownOpen = !isProgrammingLanguagesDropdownOpen">
                  Programming Language
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-checkbox-menu" [appDropdown]="isProgrammingLanguagesDropdownOpen"
                    aria-labelledby="programmingLanguagesDropdown">
                  <li formArrayName="programmingLanguagesComboBox"
                      *ngFor="let programmingLanguage of form.controls.programmingLanguagesComboBox.controls; let i = index">
                    <label>
                      <input type="checkbox" [formControlName]="i"> {{ programmingLanguages[i].name }}
                    </label>
                  </li>
                </ul>
              </div>
              <div class="ml-auto" *ngIf="(scope === SCOPE_PRIVATE || (scope === SCOPE_GLOBAL && authService.isAdmin())) && !interview">
                <button type="button" class="btn text-secondary py-0 border-0" (click)="onNewChallenge()" title="Create New Challenge">
                  <i class="fa fa-3x fa-plus-circle" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf="!selectedChallenge">
      <div class="row">
        <div class="col-3" *ngFor="let challenge of challenges.entries">
          <div class="card my-2 challenge-card box-sized" (click)="onOpenChallenge(challenge.id)">
            <div class="card-body">
              <h5 class="card-title">{{ challenge.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ challenge.programmingLanguage }}</h6>
              <p class="card-text box-sized-card-text">{{ challenge.description }}</p>
            </div>
            <div class="card-footer challenge-card-footer">
              <div class="d-flex justify-content-between">
                <span class="badge badge-secondary">{{ challenge.type }}</span>
                <span class="badge badge-secondary">{{ challenge.difficulty }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5" *ngIf="selectedChallenge">
      <div class="row">
        <div class="col-12" *ngFor="let challenge of challenges.entries">
          <div class="card my-1 challenge-card"
               [ngClass]="{'challenge-card-active': +challenge.id === selectedChallenge.id}"
               (click)="onOpenChallenge(challenge.id)">
            <div class="card-body py-2">
              <h5 class="card-title">{{ challenge.title }}</h5>
              <h6 class="card-subtitle mb-1 text-muted">
                {{ challenge.programmingLanguage }}
                <span class="badge badge-secondary pull-right mx-1">{{ challenge.type }}</span>
                <span class="badge badge-secondary pull-right">{{ challenge.difficulty }}</span>
              </h6>
              <p class="card-text list-sized-card-text">{{ challenge.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="challenges.numFound > 0">
        <div class="col-12 mt-2">
          <div class="pull-right">
            <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="challenges.numFound"
              [maxSize]="10"
              [rotate]="true"
              (pageChange)="onPageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7 challenge-details" *ngIf="selectedChallenge">
      <app-challenge-details [challenge]="selectedChallenge"
                             [interview]="interview"
                             (close)="onClose($event)"
                             (include)="onInclude($event)">
      </app-challenge-details>
    </div>
  </div>
  <div class="row" *ngIf="!selectedChallenge && challenges && challenges.numFound > 0">
    <div class="col-12 mt-2">
      <div class="pull-right">
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="challenges.numFound"
          [maxSize]="10"
          [rotate]="true"
          (pageChange)="onPageChange($event)">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
