.nav-item {
  cursor: pointer;
}

.nav-item:focus {
  border: 0 none !important;
  box-shadow: none!important;
}

.challenges-list-search {
  padding-left: 2.375rem;
}

.challenges-list-search-span {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.dropdown-checkbox-menu li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin:0;
  transition: background-color .4s ease;
}
.dropdown-checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

.dropdown-checkbox-menu li.active label {
  background-color: #cbcbff;
  font-weight:bold;
}

.dropdown-checkbox-menu li label:hover,
.dropdown-checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.dropdown-checkbox-menu li.active label:hover,
.dropdown-checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

.fa-plus-circle:hover {
  color: #00bcd4;
}

.box-sized {
  min-height: 265px;
  max-height: 265px;
}

.challenge-card {
  cursor: pointer;
  border-radius: .75rem!important;
}

.challenge-card:hover {
  background-color: #f5f5f5 !important;
}

.challenge-card-active {
  background-color: #e0e0e0 !important;
  border-color: #00bcd4 !important;
}

.challenge-card-footer {
  border-top: none;
  margin-bottom: 10px;
  padding-bottom: 0px;
  background-color: inherit;
}

.card-text {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: .85rem;
}

.box-sized-card-text {
  -webkit-line-clamp: 6;
}

.list-sized-card-text {
  -webkit-line-clamp: 2;
}

.challenge-edit-section {
  background-color: white !important;
  border-radius: .75rem !important;
}

.challenge-details {
  background-color: white !important;
  border-radius: .75rem !important;
}
