<div class="dropdown" (clickOutside)="closeDropdown()">
  <button class="btn align-self-center new-tab-dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
          (click)="toggleDropdown()"
          [disabled]="isDisabled">
    <i class="fa fa-2x fa-plus-square-o"></i>
  </button>
  <form (ngSubmit)="onAddTab()" #newTabForm="ngForm">
    <ul class="dropdown-menu new-tab-dropdown-menu" [appDropdown]="isOpen">
      <li>
        <input class="form-control" type="text" placeholder="Name" name="name" ngModel>
      </li>
      <li>
        <select class="programming-language-select" name="programmingLanguage" ngModel>
          <option *ngFor="let programmingLanguage of programmingLanguages" [value]="programmingLanguage.name">
            {{ programmingLanguage.name }}
          </option>
        </select>
      </li>
      <li>
        <button class="btn btn-secondary text-center w-100" type="submit">Add</button>
      </li>
    </ul>
  </form>
</div>
