.new-tab-dropdown-toggle {
  padding: .150rem .25rem;
}

.new-tab-dropdown-toggle:hover {
  color: #00bcd4;
}

.new-tab-dropdown-menu {
  padding: .5rem;
}

.programming-language-select {
  display: block !important;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff no-repeat right .75rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
