<div class="d-flex flex-row flex-nowrap tabs-toolbar">
  <div *ngFor="let tab of tabs">
    <app-tab-component [tab]="tab"
                       [isActive]="tab.id === activeTab.id"
                       [isCloseDisabled]="isInPreviewMode()"
                       (openTab)="openTab($event)"
                       (closeTab)="deleteTab($event)">
    </app-tab-component>
  </div>
  <app-new-tab-dropdown [isDisabled]="isInPreviewMode()"
                        (newTab)="createTab($event)">
  </app-new-tab-dropdown>
  <span class="badge ml-auto mx-4 align-self-center language-info" *ngIf="activeTab">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    {{ activeTab.programmingLanguage.name }} {{ activeTab.programmingLanguage.version }}
  </span>
  <button class="btn btn-success px-3 mr-1 align-self-center btn-run"
          [ngClass]="{'ml-auto': !activeTab}"
          [disabled]="isInPreviewMode() || !activeTab || isRunning"
          (click)="onRun()">
    Run<i class="fa fa-play ml-2" aria-hidden="true" *ngIf="!isRunning"></i>
       <i class="fa fa-spinner fa-spin ml-2" aria-hidden="true" *ngIf="isRunning"></i>
  </button>
</div>
