.tabs-toolbar {
  height: 35px;
  background-color: #f5f5f5;
}

.language-info {
  padding: .25em .8em;
  font-size: 100%;
  font-family: Consolas;
  border: black solid 2px;
}

.language-info:hover {
  color: #00bcd4;
  border-color: #00bcd4;
  cursor: pointer;
}

.btn-run {
  font-family: Consolas;
  height: 30px;
  padding: .150rem .75rem;
}
