<div class="sticky-top">
  <button class="btn btn-outline-secondary btn-sticky" type="button"
          [disabled]="isDisabled"
          (click)="onClearOutput()">
    Clear
  </button>
</div>
<div class="p-2 m-2 output-container" *ngFor="let log of executionLog">
  <i><b>Executed {{ log.executedLinesCount }} lines of code in {{ log.programmingLanguage }}, total
    runtime: {{ log.runtime }} s</b></i>
  <br>
  <p class="p-pre-wrap">{{ log.output }}</p>
  <hr>
</div>
