.btn-sticky {
  margin-top: 5px;
  margin-right: 5px;
  height: 30px;
  padding: .150rem .75rem;
  float:right;
  font-family: Consolas;
}

.output-container {
  font-size: .85rem;
  font-family: Consolas;
}

.p-pre-wrap {
  white-space: pre-wrap;
}
