<div class="container-fluid p-0 h-100" style="background-color: #d6d8d9;">
  <div class="row align-items-center h-100">
    <div class="col-8 mx-auto">
      <div class="jumbotron text-center">
        <h1 class="display-4">Interview Has Ended!</h1>
      </div>
    </div>
  </div>
</div>
