<div class="container-fluid no-active-tab p-0"
     [ngClass]="{'height-in-setup': isInSetupMode, 'regular-height': !isInSetupMode}">
  <div class="row align-items-center h-100">
    <div class="col-8 mx-auto">
      <div class="jumbotron no-active-tab">
        <ul class="list-group list-group-flush no-active-tab-inner">
          <li class="list-group-item">
            Press
            <button class="btn align-self-center" style="padding: .150rem .25rem;"
                    disabled aria-haspopup="true" aria-expanded="true"><i
              class="fa fa-2x fa-plus-square-o"></i>
            </button>
            To Add New Tab
          </li>
          <li class="list-group-item">
            Press
            <button class="btn btn-outline-secondary align-self-center btn-env-common mx-1" disabled>
              Challenges
            </button>
            To Include Challenges
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
