.height-in-setup {
  height: calc(100% - 85px);
}

.regular-height {
  height: calc(100% - 72px);
}

.no-active-tab {
  background-color: #d6d8d9;
  font-family: Consolas;
}

.no-active-tab-inner li {
  background-color: #d6d8d9;
  border: none;
}

.btn-env-common {
  font-family: Consolas;
  height: 30px;
  padding: .150rem .75rem;
}
