<div class="container mt-5">
  <form (ngSubmit)="onSave()" #interviewForm="ngForm">
    <div class="row">
      <div class="col-7 white-section"
           style="border-right: #f5f5f5 solid 10px">
        <div class="form-group pt-1">
          <label for="title"><b>Title</b></label>
          <input #title="ngModel"
                 [(ngModel)]="interview.title"
                 class="form-control"
                 id="title"
                 name="title"
                 required
                 type="text"
                 aria-describedby="titleHelp">
        </div>
      </div>
      <div class="col-5 d-inline-flex white-section">
        <div class="form-group pt-1">
          <label for="date"><b>Schedule For</b></label>
          <div class="input-group">
            <input #datePicker="ngbDatepicker"
                   #datePickerNgModel="ngModel"
                   [(ngModel)]="date"
                   class="form-control"
                   id="date"
                   name="date"
                   ngbDatepicker
                   placeholder="yyyy-mm-dd"
                   required
                   aria-describedby="dateHelp">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="datePicker.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="white-section ml-3">
          <ngb-timepicker required name="time" [(ngModel)]="time"></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 pt-1 white-section">
        <span><b>Candidate</b></span>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-4 pb-2 white-section">
        <label for="candidateFirstName"><b>First Name</b></label>
        <input type="text" class="form-control" id="candidateFirstName" name="candidateFirstName" required
               [(ngModel)]="interview.candidate.firstName"
               #candidateFirstName="ngModel"
               aria-describedby="candidateFirstNameHelp">
      </div>
      <div class="col-4 pb-2 white-section">
        <label for="candidateLastName"><b>Last Name</b></label>
        <input type="text" class="form-control" id="candidateLastName" name="candidateLastName" required
               [(ngModel)]="interview.candidate.lastName"
               #candidateLastName="ngModel"
               aria-describedby="candidateLastNameHelp">
      </div>
      <div class="col-4 pb-2 pb-3 white-section">
        <label for="candidateEmail"><b>Email</b></label>
        <input type="email" class="form-control" id="candidateEmail" name="candidateEmail" required email
               [(ngModel)]="interview.candidate.email"
               #candidateEmail="ngModel"
               aria-describedby="candidateEmailHelp">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <small id="titleHelp" class="form-text text-danger" *ngIf="!title.valid && title.touched">
          * Title cannot be empty.
        </small>
        <small id="candidateFirstNameHelp" class="form-text text-danger"
               *ngIf="!candidateFirstName.valid && candidateFirstName.touched">
          * Candidate first name cannot be empty.
        </small>
        <small id="candidateLastNameHelp" class="form-text text-danger"
               *ngIf="!candidateLastName.valid && candidateLastName.touched">
          * Candidate last name cannot be empty.
        </small>
        <small id="candidateEmailHelp" class="form-text text-danger"
               *ngIf="!candidateEmail.valid && candidateEmail.touched">
          * Invalid candidate email.
        </small>
        <small id="dateHelp" class="form-text text-danger" *ngIf="datePickerNgModel.touched && !isDateValid()">
          * Choose valid date and time
        </small>
      </div>
    </div>
    <div class="row mt-3 justify-content-end">
      <div class="col-4 d-flex justify-content-end">
        <button type="submit" class="btn btn-success mr-2 px-5" [disabled]="interviewForm.invalid">Save</button>
        <button type="button" class="btn btn-secondary px-5" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
